
#resource_treeview_calendar {
    margin-bottom: 3em;
}

#resource_treeview_calendar .bab_collapseAll,
#resource_treeview_calendar .bab_expandAll {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
}

#resource_treeview_calendar .tree {
    margin-top: 1em;
}

#calendar {
    margin-top: 1em;
}

#content .bab_tree div.line .right_elements {
    top: 2px;
}

#content .bab_tree div.line:hover {
    padding: 1px;
    border: none;
}


#content .bab_tree .level1 {
    color: inherit;
    font-weight: normal;
}



#content .widget-table-section.widget-table-header .widget-table-row, .widget-table-section.widget-table-footer .widget-table-row {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(center top , rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(center top , rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(center top , rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: normal;
}

#content .widget-table-section.widget-table-header .widget-table-row td.widget-table-column-sorted-asc {
    background-color: rgba(0, 0, 0, 0.05);
}
#content td.widget-table-column-sorted-asc, td.widget-table-column-sorted-desc {
    background-color: rgba(0, 0, 0, 0.025);
}

#content .widget-frame a {
    color: #135;
    text-decoration: none;
}

.unavailable {
    opacity: 0.75;
}
.unavailable .widget-icon-label,
.unavailable .resource-name {
    text-decoration: line-through !important;
    opacity: 0.5;
}

.fc-event-inner {
    font-size: 80%;
    cursor: pointer;
}

.fc-event-inner .actions {
    background: rgba(255,255,255,0.75);
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: block;
    transition-delay: 0.5s;
    transition-duration: 0.25s;
    text-align: center;
}
.fc-event-inner:hover .actions {
    opacity: 1;
    height: 20px;
}
.fc-event-inner > ul {
    padding-left: 1.2em;
    display: none;
}
.fc-event:hover {
    z-index: 1000 !important;
    width: 200px;
}

.fc-event-inner:hover > ul {
    display: block;
}

.fc-grid th {
    font-size: 80%;
    font-weight: normal;
}

.fc-resourceName {
    font-size: 80%;
    width: 150px;
    overflow: hidden;
}


#calendar_explorer .ui-widget-content,
#calendar_explorer .ui-widget-header {
    background: none;
    border: none;
}

#calendar_explorer .ui-state-default {
    background: none;
    border: none;
}
#calendar_explorer .ui-datepicker-current-day > a {
    font-weight: 900;
}
#calendar_explorer .ui-datepicker-calendar th {
    text-align: right;
}
#calendar_explorer .ui-datepicker-calendar td:hover {
    background-color: rgba(0, 0, 200, 0.025);
}

#resource_treeview_calendar .widget-icon-label {
    height: 1.5em;
}


/*
body#calendar\.display #content {
    margin-left: 0 !important;
}

body#calendar\.display #bloc_conteneur {
    width: 100% !important;
    padding: 0 !important;
}

body#calendar\.display .grid3 {
    width: 100% !important;
    margin: 0 !important;
}
*/


.widget-bordered-left {
    border-left: 1px dotted #ddd;
    padding-left: 1em;
}

#content .widget-panel {
    background-color: #eee;
    width: 240px;
}
#content .bab_treeToolbar {
    background: rgba(0,0,0,0.05);
}
#content .bab_treeToolbar input {
    border: none;
    margin-top: 3px;
}

#content .widget-toolbar .widget-icon:hover {
    background-color: transparent;
    outline: none;
}

#calendar_explorer td.resourcemanagement-large-calendar {
    max-width:1px;
}
.resourceMonth #calendar_explorer .resourcemanagement-large-calendar > div {

}

#resourcemanagement-calendar-date-selector > .ui-datepicker-inline {
    margin: 0 auto;
}

#calendar_explorer .fc-view-resourceDay .fc-widget-header {
    width: 30px !important;
}
#calendar_explorer .fc-view-resourceMonth .fc-widget-header {
    width: 75px !important;
}

#calendar_explorer .fc-view {
    overflow-x: auto;
}

#calendar_explorer .fc-view-resourceMonth > table {
        table-layout: fixed;
/* 	width: 3000px !important; */
}

#calendar_explorer .fc-view-resourceDay > table {
        table-layout: fixed;
/* 	width: 2500px !important; */
}


.fc-resourceName {
}

.fc-resourceName.temp {
    border: 1px solid #ccc;
    z-index: 10;
    white-space: nowrap;
    background-color: rgb(250, 250, 250) !important;
}

.resourceDay #calendar_explorer .resourcemanagement-large-calendar > div {

}
.widget-overflow-x-scroll {

}

.widget-fullcalendar .fc-event {
/*
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5) !important;
    border-top: 1px dotted rgba(0, 0, 0, 0.5) !important;
*/
    box-shadow: 0 0 0 1px #555;
}

.widget-fullcalendar .fc-event:hover {
    box-shadow: 0 0 0 1px;
}

.fc-resourceName > div {
    padding: 4px;
}


.fc-view-resourceDay td:nth-child(2n+1) {
    border-left-style: dotted;
}


.fc-resourceName span, .fc-resourceName img {
    vertical-align: middle;
}

.fc-resourceName .widget-image {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #888;
}
.fc-resourceName a {
    color: black;
    text-decoration: none;
}

.fc-resourceName a:link, .fc-resourceName a:visited {
    color: black;
}


.widget-lineedit,
.widget-textedit,
.widget-timeedit,
.widget-datepicker,
.widget-select,
div.wysiwyg {
    border: 1px solid #D3D3D3;
    padding: 2px;
}
.widget-datepicker.inline {
    border: none;
}
#content .widget-datepicker .ui-datepicker-week-end a {
    color: #aaa;
}

.widget-checkbox {
    margin-left: 0;
}

.resourcemanagement-field-label-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 25%;
}
.resourcemanagement-field-widget-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 67%;
}


.widget-filter .filter {
    background-color: #EEEEEE;
    border-top: 1px solid #E7E7E7;
    font-size: 90%;
    padding: 1em 1em 0.2em;
}

#resourcemanagement-calendar.fullwidth {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background: none repeat scroll 0 0 #F5F5F5;
}



.resourcemanagement-empty-placeholder {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: none;
    color: rgba(0, 0, 0, 0.25);
    font-size: 180%;
    padding: 3em 0;
}

.resourcemanagement-sort-field .ui-sortable-handle {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: move;
    margin: 0.4em;
    min-height: 1.5em;
    padding: 0.4em 0.9em;
}

.rm-printlink {
    padding: 10px;
}

@media print {
    #ovfx_page {
        min-height: 0;
        padding: 0;
        background-color: transparent;
    }

    html {
        background-color: transparent;
    }

    .fc-button, .rm-printlink {
        display: none !important;
    }

    .fc-view {
        overflow-x: visible !important;
        overflow: visible !important;
    }

    table {
        table-layout: fixed;
    }

}