



<!--#begin inforeservation -->

 <strong>{ message }</strong><br /><br />
<!--#if bview -->
<strong>{ by }&nbsp;: { username }</strong><br />
<!--#endif bview -->
<!--#in getnext -->
     <strong>{ label }</strong>&nbsp;: { value }<br />
<!--#endin getnext -->
<br />
<!--#if reason "!= " -->
<div style="padding: 10px; border: 1px solid #ccc">
<strong>{ reasontxt }</strong>&nbsp;:<br />
{ reason }
</div>
<!--#endif reason -->

<!--#end inforeservation -->





<!--#begin inforeservationtxt -->
{ babSiteName } <{ babUrl }>

{ message }

<!--#if bview -->
{ by }: { username }
<!--#endif bview -->
<!--#in getnext -->
{ label }: { value }
<!--#endin getnext -->

<!--#if reason "!= " -->
{ reasontxt }:
{ reason }
<!--#endif reason -->

<!--#end inforeservationtxt -->






<!--#begin newreservations -->
<p>
<a href="{ approburl }">{ t_approbation_page }</a>
</p>

<!--#in getnextreservation -->
<div style="margin:.5em;border:#444 1px solid;<!--#if alert -->color:red;<!--#endif alert -->">
      <strong>{ title_message } <br />
	{ fromuser }&nbsp;:&nbsp;{ username }</strong><br />
	<!--#in getnextfield -->
    { label }&nbsp;:&nbsp;{ value }<br />
    <!--#endin getnextfield -->
    { commenttxt }&nbsp;:&nbsp;{ comment }<br /><br />
 </div>
<!--#endin getnextreservation -->

<!--#end newreservations -->





<!--#begin newreservationstxt -->
{ babSiteName } <{ babUrl }>

<!--#in getnextreservation -->
{ title_message }

{ fromuser }: { username }
<!--#in getnextfield -->
{ label }: { value }
<!--#endin getnextfield -->
{ commenttxt }:{ comment }

---------------------------------
<!--#endin getnextrequest -->

<!--#end newreservationstxt -->





<!--#begin inforeservationapprobation  -->

<p>
    <a href="{ approburl }">{ t_approbation_page }</a>
</p>

<strong>{ message }</strong><br /><br />
<!--#if bview -->
<strong>{ by }&nbsp;: { username }</strong><br />
<!--#endif bview -->
<!--#in getnext -->
     <strong>{ label }</strong>&nbsp;: { value }<br />
<!--#endin getnext -->
<br />
<!--#if reason "!= " -->
<div style="padding: 10px; border: 1px solid #ccc">
<strong>{ reasontxt }</strong>&nbsp;:<br />
{ reason }
</div>
<!--#endif reason -->

<!--#end inforeservationapprobation  -->

<!--#begin inforeservationapprobationtxt -->
{ babSiteName } <{ babUrl }>

{ message }

<!--#if bview -->
{ by }: { username }
<!--#endif bview -->
<!--#in getnext -->
{ label }: { value }
<!--#endin getnext -->

<!--#if reason "!= " -->
{ reasontxt }:
{ reason }
<!--#endif reason -->

<!--#end inforeservationapprobationtxt -->